<!DOCTYPE html>
<html>
<head>
    <title>Add Member</title>
</head>
<body>
    <h1>Add Member</h1>
    <form method="POST">
        <label>Member ID:</label><br>
        <input type="text" name="member_id" required><br><br>

        <label>Name:</label><br>
        <input type="text" name="mname" required><br><br>

        <label>Group ID:</label><br>
        <input type="text" name="group_id" required><br><br>

        <label>Phone Number:</label><br>
        <input type="text" name="phone_no" required><br><br>

        <label>Address:</label><br>
        <input type="text" name="address" required><br><br>

        <label>Age:</label><br>
        <input type="number" name="age" required><br><br>

        <label>Gender:</label><br>
<select name="gender" required>
    <option value="">--Select--</option>
    <option value="M">Male</option>
    <option value="F">Female</option>
    <option value="O">Other</option>
</select><br><br>


        <input type="submit" value="Add Member">
    </form>
</body>
</html>
